# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/values.schema.json

controllers:
  main:
    strategy: Recreate
    replicas: 1
    pod:
      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: OnRootMismatch
    containers:
      subsyncarr-plus:
        image:
          repository: tomtomw123/subsyncarr-plus
          tag: latest
          pullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: 3000
            protocol: TCP
        env:
          TZ: Europe/London
          PUID: "1000"
          PGID: "988"
          CRON_SCHEDULE: "0 0 * * *"
          SCAN_PATHS: "/media"
          EXCLUDE_PATHS: ""
          MAX_CONCURRENT_SYNC_TASKS: "1"
          INCLUDE_ENGINES: "ffsubsync,autosubsync"
          WEB_HOST: "0.0.0.0"
          WEB_PORT: "3000"

service:
  main:
    controller: main
    ports:
      http:
        port: 3000
        targetPort: http
        protocol: TCP

ingress:
  main:
    enabled: true
    className: traefik-internal
    hosts:
      - host: subsyncarr.gregpakes.co.uk
        paths:
          - path: /
            service:
              identifier: main
              port: http
    # tls: []  # optional; wildcard cert should cover it

persistence:
  media:
    enabled: true
    type: nfs
    server: 172.16.250.191
    path: /var/nfs/shared/Media
    globalMounts:
      - path: /media

  data:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: subsyncarr-plus-data
    globalMounts:
      - path: /app/data

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi
