controllers:
  main:
    replicas: 1
    pod:
      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: OnRootMismatch
    containers:
      sonarr:
        image:
          repository: ghcr.io/linuxserver/sonarr
          tag: latest
        env:
          TZ: Europe/London
          PUID: "1000"
          PGID: "988"
        probes:
          liveness:  { enabled: true,  type: TCP, port: 8989 }
          readiness: { enabled: true,  type: TCP, port: 8989 }

service:
  web:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 8989
        targetPort: 8989

ingress:
  web:
    enabled: true
    className: traefik-internal
    hosts:
      - host: sonarr.gregpakes.co.uk
        paths:
          - path: /
            service:
              identifier: web
              port: http
    # tls: []  # add if you want certs now

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: sonarr-config

  downloads:
    enabled: true
    type: nfs
    server: 172.16.250.191
    path: /var/nfs/shared/Media

advancedMounts:
  main:
    sonarr:
      - name: config
        path: /config
      - name: downloads
        path: /downloads