controllers:
  main:
    pod:
      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: OnRootMismatch
    replicas: 0
    containers:
      profilarr:
        image:
          repository: santiagosayshey/profilarr
          tag: v1.1.3
        env:
          TZ: Europe/London
        probes:
          liveness:
            enabled: true
            type: HTTP
            port: 6868
          readiness:
            enabled: true
            type: HTTP
            port: 6868

service:
  main:
    controller: main
    ports:
      http:
        port: 6868
        targetPort: 6868
        protocol: TCP

ingress:
  main:
    enabled: true
    className: traefik-internal
    hosts:
      - host: profilarr.gregpakes.co.uk
        paths:
          - path: /
            service:
              identifier: main
              port: http
    # tls:   # optional if your wildcard cert already covers it

persistence:
  config:
    suffix: config
    existingClaim: profilarr-config
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: longhorn

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi