apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-internal
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  sources:
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 37.4.0
      helm:
        releaseName: traefik-internal
        values: |
          additionalArguments:
          - --serversTransport.insecureSkipVerify=true
          - --api.dashboard=true
          - --api.insecure=false

          logs:
            general:
              level: DEBUG
            access:
              enabled: true

          deployment:
            enabled: true
            replicas: 1

          globalArguments:
          - --global.sendanonymoususage=false
          - --global.checknewversion=false

          ingressRoute:
            dashboard:
              enabled: false  # or true with an internal-only host + TLS later

          nodeSelector:
            worker: "true"

          ports:
            web:
              redirections:
                entryPoint:
                  permanent: true
                  scheme: https
                  to: websecure
            websecure:
              tls:
                enabled: true

          providers:
            kubernetesCRD:
              enabled: true
              ingressClass: traefik-internal
            kubernetesIngress:
              enabled: true
              ingressClass: traefik-internal
              publishedService:
                enabled: false   # no need for LB status here

          rbac:
            enabled: true

          service:
            type: LoadBalancer
            spec:
              loadBalancerIP: 172.16.51.66