# argocd/infrastructure/servarr/prowlarr/values.yaml
controllers:
  main:
    replicas: 1
    pod:
      securityContext:
        fsGroup: 988                # allow writes to NFS (PGID=988)
        fsGroupChangePolicy: OnRootMismatch
    containers:
      prowlarr:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: latest
        env:
          TZ: Europe/London
          PUID: "1000"
          PGID: "988"
        ports:
          - name: http
            containerPort: 9696
            protocol: TCP
        probes:
          readiness:
            enabled: true
            type: HTTP
            port: http
            path: /
          liveness:
            enabled: true
            type: HTTP
            port: http
            path: /

service:
  web:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 9696
        targetPort: http
        protocol: TCP

ingress:
  web:
    enabled: true
    className: traefik-internal
    hosts:
      - host: prowlarr.gregpakes.co.uk
        paths:
          - path: /
            service:
              identifier: web
              port: http


persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn
  downloads:
    enabled: true
    type: nfs
    server: 172.16.250.191
    path: /var/nfs/shared/Media

advancedMounts:
  main:
    prowlarr:
      - name: config
        path: /config
      - name: downloads
        path: /downloads