apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager-pushover-secret
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: homelab
  target:
    name: alert-manager-pushover
    creationPolicy: Owner             # ESO will own (create/replace) the Secret
  data:
    - secretKey: user_key     # <-- key inside the k8s Secret
      remoteRef:
        conversionStrategy: Default	
        decodingStrategy: None
        key: pushover     # <-- 1Password item title
        property: user_key               # <-- 1Password field name
        metadataPolicy: None
    - secretKey: token     # <-- key inside the k8s Secret
      remoteRef:
        conversionStrategy: Default	
        decodingStrategy: None
        key: pushover     # <-- 1Password item title
        property: token               # <-- 1Password field name
        metadataPolicy: None
