# apps/nebula-sync/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: nebula-sync-config
  namespace: nebula-sync
data:
  # Scheduling & behavior (see README "Optional Environment Variables")
  TZ: "Europe/London"
  FULL_SYNC: "false"            # set "false" to use granular SYNC_* flags instead
  RUN_GRAVITY: "true"
  CRON: "0 * * * *"            # run hourly
  CLIENT_SKIP_TLS_VERIFICATION: "true" # Remove later
  WEBHOOK_SYNC_SUCCESS_URL: https://hc-ping.com/062faf8c-07ee-4fe3-98f9-4b373c93cd93
  WEBHOOK_SYNC_FAILURE_URL: https://hc-ping.com/062faf8c-07ee-4fe3-98f9-4b373c93cd93/fail
  SYNC_CONFIG_DNS: "true"
  SYNC_CONFIG_DHCP: "true"
  SYNC_CONFIG_NTP: "true"  


  SYNC_CONFIG_RESOLVER: "true"
  SYNC_CONFIG_DATABASE: "true"
  SYNC_CONFIG_MISC: "true"
  SYNC_CONFIG_DEBUG: "true"
  SYNC_GRAVITY_DHCP_LEASES: "true"
  SYNC_GRAVITY_GROUP: "true"
  SYNC_GRAVITY_AD_LIST: "true"
  SYNC_GRAVITY_AD_LIST_BY_GROUP: "true"
  SYNC_GRAVITY_DOMAIN_LIST: "true"
  SYNC_GRAVITY_DOMAIN_LIST_BY_GROUP: "true"
  SYNC_GRAVITY_CLIENT: "true"
  SYNC_GRAVITY_CLIENT_BY_GROUP: "true"

  # This setting is unique per Pi-hole instance, to avoid IP conflicts
  SYNC_CONFIG_DNS_EXCLUDE: "dns.reply.host.IPv4"

  # If you disable FULL_SYNC above, you can selectively turn on pieces, e.g.:
  # SYNC_GRAVITY_AD_LIST: "true"
  # SYNC_GRAVITY_DOMAIN_LIST: "true"
  # SYNC_GRAVITY_CLIENT: "true"
  # CLIENT_TIMEOUT_SECONDS: "60"
  # CLIENT_RETRY_DELAY_SECONDS: "5"
  # CLIENT_SKIP_TLS_VERIFICATION: "false"