# bazarr-config-pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bazarr-config
  namespace: servarr
spec:
  accessModes: [ "ReadWriteOnce" ]
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
  volumeName: pvc-f0311832-cedf-4fe6-af93-c70f04935ba6