# servarr/qbit-vpn/values.yaml
controllers:
  main:
    replicas: 1
    pod:
      nodeSelector:
        kubernetes.io/hostname: k3s-05 # Pin to 05 because we download to local path due to perf issues when downloading directly to the NFS drive
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 127.0.0.1
        options:
          - name: ndots
            value: "1"

      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: OnRootMismatch
    containers:
      gluetun:
        image:
          repository: qmcgaw/gluetun
          tag: latest
        env:
          TZ: Europe/London

          # --- AirVPN over WireGuard ---
          VPN_SERVICE_PROVIDER: airvpn
          VPN_TYPE: wireguard
          WIREGUARD_PRIVATE_KEY:
            valueFrom: { secretKeyRef: { name: gluetun-secrets, key: WIREGUARD_PRIVATE_KEY } }
          WIREGUARD_PUBLIC_KEY:
            valueFrom: { secretKeyRef: { name: gluetun-secrets, key: WIREGUARD_PUBLIC_KEY } }
          WIREGUARD_PRESHARED_KEY:
            valueFrom: { secretKeyRef: { name: gluetun-secrets, key: WIREGUARD_PRESHARED_KEY } }
          WIREGUARD_ADDRESSES:
            valueFrom: { secretKeyRef: { name: gluetun-secrets, key: WIREGUARD_ADDRESSES } }

          # Health & firewall
          FIREWALL: "off"
          HEALTH_TARGET_ADDRESS: "1.1.1.1:53"
          FIREWALL_VPN_INPUT_PORTS:
            valueFrom: { secretKeyRef: { name: gluetun-secrets, key: FIREWALL_VPN_INPUT_PORTS } }

          # Allow LAN/cluster to reach WebUI on 8080
          FIREWALL_INPUT_PORTS: "8080,53,6789"

          # let the pod talk to the cluster and NAS directly (no leak of Internet traffic)
          FIREWALL_OUTBOUND_SUBNETS: "10.42.0.0/16,10.43.0.0/16,172.16.51.0/24,172.16.250.191/32"

          # this dns config tells gluetun to start using plaintext dns, then switch over to DoT when ready
          DOT: "on"
          DNS_OVER_TLS: "cloudflare"
          DNS_ADDRESS: "127.0.0.1" 

          BLOCK_MALICIOUS: "off"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add: ["NET_ADMIN"]

      qbittorrent:
        image:
          repository: ghcr.io/linuxserver/qbittorrent
          tag: latest
        env:
          TZ: Europe/London
          PUID: "1000"
          PGID: "988"
          WEBUI_PORT: "8080"
          # Set the listening peer port in qBittorrent config
          QBT_BitTorrent__Session__Port:
            valueFrom: { secretKeyRef: { name: gluetun-secrets, key: FIREWALL_VPN_INPUT_PORTS } }

          QBT_Application__NetworkInterface: tun0

        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
          - name: bt-tcp
            containerPort: 6881
            protocol: TCP
          - name: bt-udp
            containerPort: 6881
            protocol: UDP

        # readiness probe to qbittorrent waits for glutun to be healthy
        probes:
          readiness:
            enabled: true
            type: TCP
            port: 8080
          liveness:
            enabled: true
            type: TCP
            port: 8080

      nzbget:
        image:
          repository: ghcr.io/linuxserver/nzbget
          tag: latest
        env:
          TZ: Europe/London
          PUID: "1000"
          PGID: "988"
        ports:
          - name: httpnzb
            containerPort: 6789
            protocol: TCP
service:
  webui:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 8080
        targetPort: http
        protocol: TCP

  nzbgetui:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 6789
        targetPort: httpnzb
        protocol: TCP
      
  bittorrent:
    controller: main
    type: ClusterIP
    ports:
      tcp:
        port: 6881
        targetPort: bt-tcp
        protocol: TCP
      udp:
        port: 6881
        targetPort: bt-udp
        protocol: UDP

ingress:
  webui:
    enabled: true
    className: traefik
    hosts:
      - host: qbit.gregpakes.co.uk
        paths:
          - path: /
            service:
              identifier: webui
              port: http
  nzbgetui:
    enabled: true
    className: traefik
    hosts:
      - host: nzbget.gregpakes.co.uk
        paths:
          - path: /
            service:
              identifier: nzbgetui
              port: http
    # tls: [...]   # optional

persistence:
  dev-tun:
    enabled: true
    type: hostPath
    hostPath: /dev/net/tun
    hostPathType: CharDevice

  config:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: download-clients-qbit-config

  nzb-config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: longhorn

  downloads:
    enabled: true
    type: nfs
    server: 172.16.250.191
    path: /var/nfs/shared/Media

  local-downloads:
    enabled: true
    type: hostPath
    hostPath: /mnt/local-downloads
    hostPathType: DirectoryOrCreate

advancedMounts:
  main:
    gluetun:
      - name: dev-tun
        path: /dev/net/tun
    qbittorrent:
      - name: config
        path: /config
      - name: downloads
        path: /downloads
      - name: local-downloads
        path: /local-downloads
    nzbget:
      - name: nzb-config
        path: /config
      - name: downloads
        path: /downloads
      - name: local-downloads
        path: /local-downloads